version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: pms-redis
    ports:
      - "6379:6379"
    networks:
      - pms-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  api-gateway:
    build: .
    image: dtcc/apigateway:latest
    container_name: pms-api-gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_REDIS_HOST: pms-redis
      SPRING_REDIS_PORT: 6379
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://auth:8081
      PORTFOLIO_SERVICE_URL: http://portfolio-id-service:8095
      ANALYTICS_SERVICE_URL: http://pms-analytics-analytics-service:8082
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - pms-network
    depends_on:
      redis:
        condition: service_healthy

networks:
  pms-network:
    external: true
