server:
  port: 8080

spring:
  application:
    name: api-gateway


  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}


  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://auth:8081

  cloud:
    gateway:


      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

      routes:


        - id: portfolio-service
          uri: http://portfolio-service:8095
          predicates:
            - Path=/simulation/**
          filters:


            - name: RewritePath
              args:
                regexp: /simulation/(?<segment>.*)
                replacement: /api/portfolio/${segment}


            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 5
                redis-rate-limiter.burstCapacity: 10
                key-resolver: "#{@ipKeyResolver}"


            - name: Retry
              args:
                retries: 1
                methods: POST
                exceptions:
                  - java.net.ConnectException
                  - java.util.concurrent.TimeoutException


            - name: CircuitBreaker
              args:
                name: portfolioCmd
                fallbackUri: forward:/fallback


        - id: analytics-service
          uri: http://analytics-service:8082
          predicates:
            - Path=/analytics/**
          filters:

            - name: RewritePath
              args:
                regexp: /analytics/(?<segment>.*)
                replacement: /api/${segment}

            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@ipKeyResolver}"

            - name: Retry
              args:
                retries: 2
                methods: GET
                exceptions:
                  - java.net.ConnectException
                  - java.util.concurrent.TimeoutException

            - name: CircuitBreaker
              args:
                name: analyticsCmd
                fallbackUri: forward:/fallback


      httpclient:
        connect-timeout: 3000
        response-timeout: 10s

resilience4j:
  timelimiter:
    instances:
      portfolioCmd:
        timeout-duration: 5s
      analyticsCmd:
        timeout-duration: 5s

  circuitbreaker:
    instances:
      portfolioCmd:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
      analyticsCmd:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security.oauth2: DEBUG
    reactor.netty.http.client: INFO
