server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: portfolio-id-service
          uri: http://localhost:8095
          predicates:
            - Path=/portfolio-id/**
      httpclient:
        connect-timeout: 3000     # 3 seconds
        response-timeout: 10s     # 10 seconds